<h1>Current Inventory</h1>
<app-vehicle-form-reactive (on-submit)="addVehicle($event)">
    </app-vehicle-form-reactive>
<p><button (click)="loadFullInventory()" >Load Full Inventory</button></p>
<p><button (click)="showHideDelete = !showHideDelete" >Show Hide Delete</button></p>
<ul>
@for (car of inventory; track car.VIN){
    <div [class.featured-item] = "car.featured" >
        <h2>{{car.year}} {{car.make}}, {{car.model}}</h2>

        <p class="gallery">
            @if(car.photos.length > 0){
                <app-photo-gallery [photos]="car.photos"
                (on-navigate)="handlePhotoNavigation($event, car)" >
                </app-photo-gallery>
            }
        </p>

        @if (car.featured){
            <h3>Featured car of the month</h3>
        }
        <p> VIN : {{car.VIN}} </p>
        <p>{{car.mileage}} Miles, ${{car.price}}</p>

        @if(vehicleToEdit == car) {
            <app-vehicle-form-reactive [vehicle]="car"
                (on-submit)="commitEdit($event)">
            </app-vehicle-form-reactive>
        }

        <p>
            <button (click)="deleteVehicle(car)" *ngIf="showHideDelete" >Delete</button>
            <button (click)="beginEditing(car)">Edit</button>
        </p>
    </div>
}
@empty {
 <li>No cars in the inventory.</li>
}
</ul>